@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
* {
    margin: 5;
    padding: 0;
    font-family:inherit;
    background: url("wp3171493-iron-man-black-wallpaper.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
    background-color:#081b29;
   /*background: url("cover.jpg");*/
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width:90%;
    padding: 15px 1.7rem;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 80;
    font-size: x-large ;
    float: auto;
    margin-right:5%;
}
.logo
{
    font-size: 60px;
    color:#f12962;
    text-decoration: none;
    font-weight: 600;
    justify-content: left;
    float: left;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);

}
.navbar a {
font-size: 25px;
color: rgb(246, 235, 39);
text-decoration: none;
text-align: left;
font-weight: 800;
margin-left:80px;
transition: 3ms;
float:right;

}
.navbar a:hover,
.navbar a.active {
    color: #cd4b42;

}
.home {
    font-size: 25px;
    height: 70vh;
    /*background: url() no-repeat;
    /*background-size:cover;
    background-position: center;
    /*display: flex;*/
   align-items:center;
   padding: 0 1.9rem;
   color: #eef9ff;
   display: inline-block;
   margin-top: 7%;
   background-color: #081b29;
   
}
.home-content{
    max-width: 200px;
    color: rgb(186, 45, 45);
}
.home-content h1{
    color: rgb(186, 45, 45);
    font-size: 30px;
    font-weight: 900;
    color: rgb(186, 45, 45);
    line-height: 1.9;
    
    
}
.home-content h3{
    font-size: 50px;
    font-weight: 700;
    color:rgb(55, 255, 255);
}
.home-content p {
    font-size: 90px;
    line-height: 0.5;
}
.home-content .btn-box{
    display:grid;
    align-items: center;
    width: 345px;
    height: 80px;
    background-color: yellow;
    padding: 10%;
}
.btn-box a {
    position:relative;
    display: inline-flex ;
    justify-content: center;
    align-content: center;
    width: 150px;
    height:100%;
    /*background: #620b39;*/
    border: 1px solid #ffee38;
    border-radius: 8px;
    font-size: 30px;
    color: indigo;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 3px;
    z-index: 1;
    overflow: hidden;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: #f30d0d;
}
.btn-box a:nth-child(1){
    color: #d22828
}
.btn-box a:nth-child(2)::before {
    background:cyan;
}
.btn-box a:nth-child(2):hover {
    background:rgb(231, 241, 43);
    transition: 1ms;
}
.btn-box a:nth-child(1)::before {
    background: #442955;
}
.btn-box a:nth-child(1):hover {
    background: rgb(231, 241, 43);
}



.btn-box a::before {
    color: ' ';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 1s;
}
.btn-box a:hover::before {
    width:50%;
}
.home-sci {
    position: absolute;
    bottom: 50px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background: transparent;
    border:1px solid #fff64d;
    border-radius: 50%;
    font-size: 20px;
    color:#ecff44;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover {
    color: #d92e48;
}
.home-sci a::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0%;
    height:100%;
    z-index: 1;
    transition: 0s;

}
.home-sci a:hover::before {
    background: #388ad6;;
    width: 0%;
    border-color: #f42323;
}
/*.home-sci a:hover::after {
    border-color: #620b39;
    
}
*/

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Transparent background initially */
    transition: background 0.3s ease; /* Add a transition effect */
    z-index: -1;
}

body:hover::before {
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black overlay on hover */
}